/* FilterComponent.css */

.filter-container {
  margin-bottom: 20px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select,
button {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}
